/* Importaciones */
@import url('variables.css');
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:wght@200;300;400;600;700&display=swap');

/* Estilos mobile*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Sofia Sans Condensed', sans-serif;
}

header{
    background-image: url("../assets/img/IMAGENES/imagenCentral.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 50vh;
}

h1{
    font-size: 2.5rem;
    font-weight: 300;
}

h2{
    font-size: 2rem;
    font-weight: 500;
}

nav{
    display: flex;
    background-color: var(--fondo-titulos);
    justify-content: space-between;
    align-items: center;
    padding-block: .3rem;
    padding-inline: 1rem;
    position: fixed;
    width: 100%;
    z-index: 1;
}

nav img{
    cursor: pointer;
}

.links{
    display: flex;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
}

.links a{
    display: block;
    text-decoration: none;
    color: white;
    padding: 0 3rem;
    font-size: 1.5rem;
    font-weight: 200;
}

.none{
    display: none;
}

.mostrarNav{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    position: absolute;
    width: 100%;
    z-index: 1;
    right: 0;
    top: 100%;
    background-color: var(--fondo-titulos);
}

.hamburguesa{
    background-color: transparent;
    border-radius: 15px;
    border: none;
}

.hamburguesa > img {
    width: 40%;
}

.contenedor{
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.alinear{
    color: white;
    position: absolute;
    top: 35%;
    text-align: center;
    transform: translateY(-50%);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.alinear > button{
    background-color: rgba(0, 0, 0, .5);
    color: white;
    border-radius: 100vmax;
    padding: 1rem 2rem;
    border: none;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 200;
    width: 50%;
    margin: 0.3rem;
}

.alinear>p{
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 1.5rem;
    margin: 0.3rem;
}

.alinear>h1{
    margin: 0.3rem;
}

.titulos{
    background-color: var(--fondo-titulos);
    color: white;
    text-align: center;
    text-transform: uppercase;
    padding: 1rem;
}

.calidad{
    background-color: var(--fondo-gris-oscuro);
    color: white;
    text-align: center;
    padding: 1rem;
    background-color: var(--color-main);
}

.calidad>h3{
    font-size: 1.5rem;
    font-weight: 400;

}

.loguitos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: space-around;
    padding: 2rem;
}

.loguito{
    display: flex;
    flex-direction: column;
    color: black;
    align-items: center;
}

.loguito>img{
    width: 100%;
    max-width: 6rem;
}

.loguito>span{
    font-size: 1rem;
}

.producto{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
}

.producto img{
    width: 100%;
}

.producto div{
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 35vh;
}

.producto h3{
    color: var(--color-main);
    font-size: 2rem;
    font-weight: 300;
}

.producto p{
    width: 75%;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5rem;
}

.producto span{
    color: var(--color-main);
    font-size: 1.1rem;
    font-weight: 700;
}

.producto button{
    margin: 1rem 0;
    padding: .5rem;
    font-size: 1.3rem;
    font-weight: 700;
    background-color: transparent;
    border: 3px solid var(--color-main);
    color: var(--color-main);
    text-transform: uppercase;
}

.recetas{
    background-color: var(--fondo-gris-oscuro);
}

.recetario{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 80%;
    margin: 0 auto;
    padding: 1rem;
}

.receta{
    background-color: var(--color-main);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .1rem;
}

.fotoReceta{
    width: 100%;
}

.tituloReceta{
    color: var(--color-receta);
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
    padding: 1rem;
}

.descripcionReceta{
    padding: 0 1rem .5rem 1rem;
    color: white;
    font-size: 1.2rem;
}

.btnReceta{
    padding: .5rem 1rem;
    color: var(--fondo-input);
    border: solid 3px var(--fondo-input);
    margin: .5rem auto;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bolder;
}

.contacto{
    display: flex;
    flex-direction: column;
}

.contacto img{
    width: 100%;
}

.form{
    display: flex;
    flex-direction: column;
    background-color: var(--fondo-gris-oscuro);
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
}

input{
    display: block;
    width: 80%;
    font-size: 1.3rem;
}

label{
    display: block;
    color: var(--fondo-input);
    width: 80%;
    font-size: 1.3rem;
    text-transform: uppercase;
}

textarea{
    width: 80%;
    font-size: 1.3rem;
}

form button{
    width: 50%;
    margin: 1rem 0;
    padding: 1rem .5rem;
    font-size: 1.3rem;
    font-weight: 900;
    border: 3px solid var(--fondo-input);
    color: var(--fondo-input);
    text-transform: uppercase;
}

footer>div{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
    padding: 1rem 3rem;
}

footer h4{
    color: var(--color-main);
    font-size: 2rem;
    font-weight: 200;
}

footer div{
    display: flex;
    flex-direction: column;
}

footer a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5rem;
}

iframe{
    display: block;
    margin: 0 auto;
}

i{
    display: block;
    margin: 1.5rem 0;
}

footer span{
    color: white;
    font-size: 1.2rem;
    font-weight: 400;
}

@media screen and (min-width: 1200px) {
    header{
        min-height: 60vh;
    }

    nav{
        justify-content: center;
    }
    
    .links{
        display: flex;
        justify-content: space-around;
    }

    .hamburguesa{
        display: none;
    }

    .contenedor{
        padding: 0;
    }

    .alinear{
        width: 40%;
        position: absolute;
        right: 0;
    }

    .alinear h1{
        font-size: 4rem;
        align-self: flex-start;
    }

    .alinear p{
        font-size: 2rem;
        text-align: start;
        margin: 1rem 0;
        padding-inline: .75rem;
    }

    .alinear button{
        align-self: center;
    }

    .calidad h3{
        font-size: 2rem;
    }

    .loguitos{
        width: 50%;
        margin: auto;
    }

    .titulos{
        font-size: 2.5rem;
    }

    .producto{
        flex-direction: row;
        text-align: start;
    }

    .productoDescripcion{
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .productoDescripcion > h3, .productoDescripcion > button{
        align-self: center;
    }

    .producto img{
        width: 50%;
    }

    .recetario{
        flex-direction: row;
    }


    .form{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .form img{
        width: 50%;
        height: 500px;
    }

    form {
        width: 50%;
    }

    label, input, textarea{
        font-size: 1.5rem;
        line-height: 1.6rem;
    }

    form button{
        margin: .3rem 0;
    }

    footer>div{
        background-color: black;
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: space-around;
        padding: 1rem 3rem;
    }
    
    footer>div>div{
        display: flex;
        flex-direction: column;
    }
    
    footer a{
        text-decoration: none;
        color: white;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.5rem;
    }
    
    iframe{
        display: block;
        margin: 0 auto;
        height: auto;
    }
    
    i{
        display: block;
        margin: 1.5rem 0;
    }
    
    footer span{
        color: white;
        font-size: 1.2rem;
        font-weight: 400;
    }
}